/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/card-style.css";

ion-menu-button {
  color: var(--ion-background-color);
}

.menu-style{
  background-color: #5E0000 !important;
}

.light-text{
  color: var(--ion-background-color);
}

.heading{
  background-color: #5E0000 !important;
  color: var(--ion-background-color);
}

.bolder {
  font-weight: bolder;
}

.vertical-separator{
  border-left: 4px var(--ion-background-color);
}

.small-header{
  background-color: #5E0000 !important;
  color: var(--ion-background-color);
  border-radius: 25px;
}

.small-header-btn{
  background-color: #5E0000 !important;
  color: var(--ion-background-color);
  border-radius: 25px;
  width: 75%;
  text-align: center;
  padding-left: 20px;
  margin-top: 2em;
}

.small-header-btn:hover{
  cursor: pointer;
}

.alert-wrapper{
  background-color: #5E0000 !important;
  color: var(--ion-background-color);
  .alert-button-inner {
    color: var(--ion-background-color) !important;
  }

  .alert-radio-icon,.alert-radio-inner{
    color: var(--ion-background-color) !important;
  }

  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
    border-color: var(--ion-background-color);
  }

  .alert-radio-inner.sc-ion-alert-md{
    background-color: var(--ion-background-color);
  }

  width: 100% !important;
}

.badge-like{
  display: inline-block;
  background-color: var(--ion-color-primary);
  color: var(--ion-background-color);
  border-radius: 50px;
  padding: 2px 8px 10px 10px;
}

.key-term{
  background-color: #565656;
  border: 4px black outset;
  color: white;
}

.red-text{
  color: var(--ion-color-primary);
  font-weight: bolder;
}

.separator:after {
  margin-top: 0.2em;
  margin-left: -2em;
  border-bottom: 0.05em solid black;
  content: '';
  display: block;
  width: 100%;
}

ion-accordion {
  .ion-accordion-toggle-icon {        
    color: var(--ion-color-primary-contrast);
  }
}